<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Bunk Bot</title>
  </head>
  <body>
    
<!--   	<img src="https://img.icons8.com/nolan/64/bot.png"/> -->
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    
    <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Bunk Bot</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
<!--       <a class="mr-5 hover:text-gray-900">About</a>
 -->      <a class="mr-5 hover:text-gray-900" href = 'signup'>Sign Up</a>
      <a class="mr-5 hover:text-gray-900" href = '/'>Sign in</a>
      <a class="mr-5 hover:text-gray-900" href = 'logout'>Log Out</a>
    </nav>
      </div>
</header>
<div class="container mt-5 display-5 text-center">
	<h1>Welcome {{text}}</h1>
	<p class="lead mt-3">
  		Get ready to experience the amazing automation of codetantra
	</p>
</div>

<div class="container mt-3 button-center d-flex justify-content-center flex-row">
	<div class="d-flex flex-column bd-highlight mb-3">
	<form action="attend", method="POST">
		{%csrf_token%}
			<div class="p-2 bd-highlight">
				<input type="text" name="count" placeholder="Enter the class number" class = "form-control border border-primary border-2">
			</div>
			<div class="p-2 bd-highlight">
				<button type="submit" class="btn btn-primary mt-1">Start Attending your Classes</button>
			</div>
	</form>

</div>

</html>
