<!DOCTYPE html>
<html>
<head>
	<title>Bunk Bot</title>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
	<!-- Header -->
	<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Bunk Bot</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
<!--       <a class="mr-5 hover:text-gray-900">About</a>
 -->      <a class="mr-5 hover:text-gray-900" href = 'signup'>Sign Up</a>
      <a class="mr-5 hover:text-gray-900" href = ''>Sign in</a>
    </nav>
      </div>
</header>
	<!-- Header -->
	<!-- Sign Up -->
	<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Sign in to Bunk Bot</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Automated application to attend your online classes while you are busy</p><br>
      <p> Sign in with the credentials of Code Tantra<br><br>
        <h2>{{error}}</h2>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <form action = 'login' method="POST">
              {%csrf_token%}
            <label for="name" class="leading-7 text-sm text-gray-600">User Name</label>
            <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
            <input type="password" id="email" name="password" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
               <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign in</button>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>